## Ordinal numbering encoding or Label Encoding

**Ordinal categorical variables**

Ordinal data is a categorical, statistical data type where the variables have natural, ordered categories and the distances between the categories is not known.

<img src="imag1.png">

For example:

- Student's grade in an exam (A, B, C or Fail).
- Educational level, with the categories: Elementary school,  High school, College graduate, PhD ranked from 1 to 4.

When the categorical variables are ordinal, the most straightforward best approach is to replace the labels by some ordinal number based on the ranks.

In [1]:
import pandas as pd
import datetime

In [2]:
# create a variable with dates, and from that extract the weekday
# I create a list of dates with 20 days difference from today
# and then transform it into a datafame

df_base = datetime.datetime.today()
df_date_list = [df_base - datetime.timedelta(days=x) for x in range(0, 20)]
df = pd.DataFrame(df_date_list)
df.columns = ['day']
df

                          day
0  2024-10-11 08:56:30.329758
1  2024-10-10 08:56:30.329758
2  2024-10-09 08:56:30.329758
3  2024-10-08 08:56:30.329758
4  2024-10-07 08:56:30.329758
5  2024-10-06 08:56:30.329758
6  2024-10-05 08:56:30.329758
7  2024-10-04 08:56:30.329758
8  2024-10-03 08:56:30.329758
9  2024-10-02 08:56:30.329758
10 2024-10-01 08:56:30.329758
11 2024-09-30 08:56:30.329758
12 2024-09-29 08:56:30.329758
13 2024-09-28 08:56:30.329758
14 2024-09-27 08:56:30.329758
15 2024-09-26 08:56:30.329758
16 2024-09-25 08:56:30.329758
17 2024-09-24 08:56:30.329758
18 2024-09-23 08:56:30.329758
19 2024-09-22 08:56:30.329758

In [7]:
# extract the week day name

df['day_of_week'] = df['day'].dt.day_name()
df.head()

                         day day_of_week  day_ordinal
0 2024-10-11 08:56:30.329758      Friday          NaN
1 2024-10-10 08:56:30.329758    Thursday          NaN
2 2024-10-09 08:56:30.329758   Wednesday          NaN
3 2024-10-08 08:56:30.329758     Tuesday          NaN
4 2024-10-07 08:56:30.329758      Monday          NaN

In [8]:
# Engineer categorical variable by ordinal number replacement

weekday_map = {'Monday':1,
               'Tuesday':2,
               'Wednesday':3,
               'Thursday':4,
               'Friday':5,
               'Saturday':6,
               'Sunday':7
}

df['day_ordinal'] = df.day_of_week.map(weekday_map)
df.head(20)

                          day day_of_week  day_ordinal
0  2024-10-11 08:56:30.329758      Friday            5
1  2024-10-10 08:56:30.329758    Thursday            4
2  2024-10-09 08:56:30.329758   Wednesday            3
3  2024-10-08 08:56:30.329758     Tuesday            2
4  2024-10-07 08:56:30.329758      Monday            1
5  2024-10-06 08:56:30.329758      Sunday            7
6  2024-10-05 08:56:30.329758    Saturday            6
7  2024-10-04 08:56:30.329758      Friday            5
8  2024-10-03 08:56:30.329758    Thursday            4
9  2024-10-02 08:56:30.329758   Wednesday            3
10 2024-10-01 08:56:30.329758     Tuesday            2
11 2024-09-30 08:56:30.329758      Monday            1
12 2024-09-29 08:56:30.329758      Sunday            7
13 2024-09-28 08:56:30.329758    Saturday            6
14 2024-09-27 08:56:30.329758      Friday            5
15 2024-09-26 08:56:30.329758    Thursday            4
16 2024-09-25 08:56:30.329758   Wednesday            3
17 2024-09-24 08:56:30.329758     Tuesday            2
18 2024-09-23 08:56:30.329758      Monday            1
19 2024-09-22 08:56:30.329758      Sunday            7

#### Ordinal Measurement Advantages

Ordinal measurement is normally used for surveys and questionnaires. Statistical analysis is applied to the responses once they are collected to place the people who took the survey into the various categories. The data is then compared to draw inferences and conclusions about the whole surveyed population with regard to the specific variables. The advantage of using ordinal measurement is ease of collation and categorization. If you ask a survey question without providing the variables, the answers are likely to be so diverse they cannot be converted to statistics.

With Respect to Machine Learning

- Keeps the semantical information of the variable (human readable content)
- Straightforward

#### Ordinal Measurement Disadvantages
The same characteristics of ordinal measurement that create its advantages also create certain disadvantages. The responses are often so narrow in relation to the question that they create or magnify bias that is not factored into the survey. For example, on the question about satisfaction with the governor, people might be satisfied with his job performance but upset about a recent sex scandal. The survey question might lead respondents to state their dissatisfaction about the scandal, in spite of satisfaction with his job performance -- but the statistical conclusion will not differentiate.

With Respect to Machine Learning

- Does not add machine learning valuable information